body {
    background-color: rgb(173, 173, 210);
}

h1 {
    color: #73905c;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    text-align: justify;
}

.texto {
    color: aqua;
}

img {
    width: 12rem;
}

div {
    text-align: center;
}

a {
    background-color: #ff0000; /*cor do fundo*/
    /*tipo da fonte*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem; /*tamanho da fonte*/
    text-decoration: none; /*tirar o traço embaixo do link*/
    padding: 1rem; /*preenchimento*/
    border-radius: 8px; /*borda redonda*/
    color: white; /*cor da letra*/
    transition: 0.5s; /*tempo para trocar a cor*/
}

a:hover { /*evento para passar o mouse*/
    background-color: #bf0707;
}