.img_banner{
    width: 100%;
}

.conteudo{
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100%;
}

.conteudo_menu{
    justify-content: center;
    display: flex;
}

.pag_selecionada{
    margin-right: 10px;
    padding: 0 20px;
    color: #fff;
    border: 1px solid transparent;
    background: #000;
    height: 48px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
}

.pag{
    
}