body{
    background-color: rgb(rgb(150, 36, 179), green, blue);
}

h1{
    color: rgb(255, 51, 0);
}
p{
    font-display:inherit ;
}
img{
    width: 50em;
}
a{
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
    color: aliceblue;
    transition: 1s;
}
a:hover {
    background-color: blueviolet;
}